@model Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create Product</h4>
      <form class="forms-sample"  method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label asp-for="Name"></label>
          <input asp-for="Name" class="form-control" placeholder="Name" autocomplete="off" spellcheck="false">
          <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
          <label asp-for="Price"></label>
          <input asp-for="Price" class="form-control" placeholder="Price" autocomplete="off" spellcheck="false">
          <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
          <label asp-for="StockCount"></label>
          <input asp-for="StockCount" class="form-control" placeholder="Count" autocomplete="off" spellcheck="false">
          <span class="text-danger" asp-validation-for="StockCount"></span>
        </div>
        <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          @foreach (var item in ViewBag.Categories)
         {
             if (item.ParentId!=null)
                {
                   <option value="@item.Id">@item.Name</option>
                }
         }
        </select>
        </div>
        <div class="form-group">
        <label asp-for="Brand"></label>
        <select  asp-items="@ViewBag.Qwe" asp-for="BrandId" class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          
        </select>
        </div>
        <div class="form-group">
          <label asp-for="Desc"></label>
          <textarea asp-for="Desc" class="form-control" placeholder="Desc" autocomplete="off" spellcheck="false" style="height: 100px;"></textarea>
          <span class="text-danger" asp-validation-for="Desc"></span>
        </div>
        <div class="form-group">
          <label asp-for="Image"></label>
          <input asp-for="Image" class="form-control">
          <span class="text-danger" asp-validation-for="Image"></span>
        </div>


        <button type="submit" class="btn btn-primary me-2" >Submit</button>
        <a class="btn btn-dark" asp-action="index">Go back</a>
      </form>
    </div>
  </div>
</div>

