@model Subscription

    <section class="newsletter-area pt-100 pb-100 bg_cover" style="background-image: url(../assets/images/bg-newletter.jpg)">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8">
                    <div class="newsletter-content">
                        <h2 class="newsletter-title">Subscribe our newsletter</h2>
                        <p>allup is a powerful eCommerce HTML Template</p>

                        <div class="newsletter-forn">
                            <form >
                                <input asp-for="Email" placeholder="Your Email address" >
                                <button type="submit" class="main-btn alo" id="submitBtn">Subscribe</button>
                            </form>
                        </div>
                    </div> <!-- newsletter content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 
    <script>

        
        let email = document.getElementById("Email");
        let submitBtn = document.getElementById("submitBtn");
        
        submitBtn.addEventListener("click", function(e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append("Email", email.value);
            console.log(name);
            axios({
                method: 'post',
                url: '/subscribe/subscribe',
                data: formData
            })
                .then(function (response) {
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    });
                    console.log(response);
                    email.value = "";
                })
                .catch(function (response) {
                    console.log(response);
                });
})      
  
    
    </script>
